<h1>Lista artykułów</h1>

<table>
  <tr>
    <th>Tyuł</th>
    <!-- <th>Treść</th> -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td style="text-align:left"><%= article.title %></td>
    <!-- <td><%= article.body %></td> -->
    <td><%= link_to 'Pokaż', article %></td>
    <td><%= link_to 'Edytuj', edit_article_path(article) %></td>
    <td><%= link_to 'Usuń', article, :confirm => 'Jesteś pewien?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowy artykuł', new_article_path %>
