<% if session[:user_id] %>
  <%= User.find(session[:user_id]).name %> <br />
  <% for project in @projects do %>
    <%= project.id %>
    <%= project.title %> <br /> 
    <%= project.description %> <br /> 
  <% end %>
<% end %>
  

   
  <p>ID sesji: </p>
  
  <script>
    alert(document.cookie);
  </script>
  
<br />
<%= link_to "Wyloguj", :controller => "sql_injection", :action => "logout" %><br />
<%= link_to "Zmien id sesji", :action => "change_session_id" %><br />